html * {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

.active {
    color: red;
}

li {
    list-style-type: none;
}

.completed {
    text-decoration: line-through;
}
  
.ico {
    width: 5%;
}